<footer class="bg-body-tertiary text-center text-lg-start ">
  <!-- Copyright -->
  <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="border-bottom border-secondary" style="display: inline-block;">© 2024 Copyright:
        <a class="text-body" href="#">BlogsWorld</a>
    </div>
  </div>
  <!-- Copyright -->
</footer>